header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
aside{
    grid-area: aside;
}
.container{
    display: grid;
    grid-template-columns: repeat();
    grid-template-rows: repeat();
    gap: 10px;
}