<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style-grid-respons.css">
</head>
<body>
    <div class="container"> 
        <header>
            <div class="slider" id="slider">
                <img src="../static/img/gosiak1980-plants-6878948.jpg" alt="">
                <img src="../static/img/jplenio-forest-8705064.jpg" alt="">
                <img src="../static/img/zlapane_chwile-tenerife-10088999.jpg" alt="">
            </div>
        </header>
        <nav>
            <ul class="menu">
                <li><a href="#">Domů</a></li>
                <li><a href="#">o nás</a></li>
                <li><a href="#">kontakt</a></li>
                <li><a href="#">služby</a></li>
            </ul>
        </nav>
        <main>    <section class="products">

            <article class="card">
              <div class="thumb"><img src="https://picsum.photos/seed/picsum/300/200"></div>
              <h2>Tričko Basic</h2>
              <p class="desc">Pohodlné tričko na každý den.</p>
              <div class="price">299 Kč</div>
              <div class="card-actions">
                <button class="btn">Do košíku</button>
                <button class="btn-detail">detail</button>
              </div>
            </article>
      
            <article class="card">
              <div class="thumb"><img src="https://picsum.photos/seed/picsum/300/200"></div>
              <h2>Mikina Zip</h2>
              <p class="desc">Teplá mikina se zipem a kapucí. Hodí se do školy i ven.</p>
              <div class="price">899 Kč</div>
              <div class="card-actions">
                <button class="btn">Do košíku</button>
                <button class="btn-detail">detail</button>
              </div>
            </article>
      
            <article class="card">
              <div class="thumb"><img src="https://picsum.photos/seed/picsum/300/200"></div>
              <h2>Láhev 1L</h2>
              <p class="desc">Lehká sportovní láhev.</p>
              <div class="price">249 Kč</div>
              <div class="card-actions">
                <button class="btn">Do košíku</button>
                <button class="btn-detail">detail</button>
              </div>
            </article>
      
            <article class="card">
              <div class="thumb"><img src="https://picsum.photos/seed/picsum/300/200"></div>
              <h2>Batoh City</h2>
              <p class="desc">Batoh do města s kapsou na notebook a menšími přihrádkami.</p>
              <div class="price">1 290 Kč</div>
              <div class="card-actions">
                <button class="btn">Do košíku</button>
                <button class="btn-detail">detail</button>
              </div>
            </article>
      
            <article class="card">
              <div class="thumb"><img src="https://picsum.photos/seed/picsum/200/300"></div>
              <h2>Sluchátka</h2>
              <p class="desc">Jednoduchá sluchátka na poslech hudby.</p>
              <div class="price">399 Kč</div>
              <div class="card-actions">
                <button class="btn">Do košíku</button>
                <button class="btn-detail">detail</button>
              </div>
            </article>
      
          </section></main>
        <aside id="box1">aside1</aside>
        <aside id="box2">aside2</aside>
        <aside id="box3">aside3</aside>
        <aside id="box4">aside4</aside>
        <aside id="box5">aside5</aside>
        <aside id="box6">aside6</aside>
        <footer>footer</footer>
    </div>

    <script src="../static/slider.js"></script>
</body>
</html>