<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style-grid-respons.css">
</head>
<body>
    <div class="container"> 
        <header>header</header>
        <nav><ul class="menu">
                <li><a href="#">Domů</a></li>
                <li><a href="#">o nás</a></li>
                <li><a href="#">kontakt</a></li>
                <li><a href="#">služby</a></li>
            </ul>
        </nav>
        <main>main content</main>
        <aside id="box1">aside1</aside>
        <aside id="box2">aside2</aside>
        <aside id="box3">aside3</aside>
        <aside id="box4">aside4</aside>
        <aside id="box5">aside5</aside>
        <aside id="box6">aside6</aside>
        <footer>footer</footer>
    </div>

</body>
</html>